
/*  Media queries   */

$xxl:'(min-width: 1200px)';
$lg:'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$xs:'(max-width: 575px)';

$laptop: '(min-width: 992px)';
$mobile: '(max-width: 991px)';
$small: '(min-width: 768px)';
$very_small: '(max-width: 767px)';
$del-p-84: '(max-width: 456px)';
$box-2: '(max-width: 388px)';
$ultra_small: '(max-width: 300px)';
